.vscode
WIDER_train
secret/droidcam_ip.txt
secret/serviceAccountKey.json
pickles/EncodedImages.pickle
pickles/train_annotations.pickle
pickles/val_annotations.pickle
captured_image.jpg
annotations
Resources
Students_In_Class_For_Testing
process_annotation.py
draw_boxes_from_annotations.py